pip~=24.0
wheel~=0.41.2
setuptools~=68.2.0
flask~=3.0.1
selenium~=4.17.2
webdriver-manager~=4.0.1
urllib3~=2.2.0
requests~=2.31.0
beautifulsoup4~=4.12.3
lxml~=5.1.0
pandas~=2.2.0
progressbar~=2.5
finviz~=1.4.6